<!DOCTYPE>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='style/reset.css' />
    <link rel='stylesheet' type='text/css' href='style/style.css' />
    <meta name='viewport' content='width=device-width, user-scalable=no'>
    <script type='text/template' id='divider-template'>
      <div class='divider-text'>
        <%= text %>
      </div>
    </script>
    <script type='text/template' id='card-template'>
      <div class='card-container'>
        <div class='card'>
          <div class='card-content-padder'>
            <div class='menu'>
            </div>
            <div class='title'>
              <%= title %>
            </div>
            <div class='last-done'>
              <%= lastDone %>
            </div>
          </div>
          <% if (markDoneEnabled) { %>
            <div class='divider'></div>
            <div class='card-action <%= primaryActionClass %>'>
              <%= primaryActionText %>
            </div>
          <% } %>
        </div>
      </div>
    </script>
    <script type='text/template' id='edit-card-template'>
      <div class='card-container'>
        <div class='card'>
          <!-- TODO: make the submit action press the action -->
          <form type='submit' onsubmit='return false;'>
            <div class='card-content-padder'>
              <input type='text' placeholder='Type intention here' autocomplete='off' autocapitalize='on' class='holo title-input' value='<%= title %>'></input>
              <label for='last-completed'>Last completed</label>
              <select name='last-completed'>
                <option value=0 <% if (lastDone == 0) print('selected') %>>Today</option>
                <option value=1 <% if (lastDone == 1) print('selected') %>>Yesterday</option>
                <option value=5 <% if (lastDone == 5) print('selected') %>>This week</option>
                <option value=10 <% if (lastDone == 10) print('selected') %>>Last week</option>
                <option value=23 <% if (lastDone == 23) print('selected') %>>This month</option>
                <option value=45 <% if (lastDone == 45) print('selected') %>>Last month</option>
                <option value=9999 <% if (lastDone == 9999) print('selected') %>>Earlier</option>
              </select> 
              <label for='target-frequency'>Do this every</label>
              <select name='target-frequency'>
                <option value=1 <% if (targetFrequency == 1) print('selected') %>>Day</option>
                <option value=7 <% if (targetFrequency == 7) print('selected') %>>Week</option>
                <option value=14 <% if (targetFrequency == 14) print('selected') %>>Two weeks</option>
                <option value=30 <% if (targetFrequency == 30) print('selected') %>>Month</option>
                <option value=60 <% if (targetFrequency == 60) print('selected') %>>Two months</option>
                <option value=180 <% if (targetFrequency == 180) print('selected') %>>Six months</option>
                <option value=365 <% if (targetFrequency == 365) print('selected') %>>Year</option>
              </select>
            </div>
            <div class='divider'></div>
            <div class='card-action <%= primaryActionClass %>'>
              Done
            </div>
            <% if (hasSecondaryAction) { %>
              <div class='divider'></div>
              <div class='card-action <%= secondaryActionClass %>'>
                <%= secondaryActionText %>
              </div>
            <% } %>
          </form>
        </div>
      </div>
    </script>
  </head>
  <body>
    <div id='header'>
      <h1>Aspire</h1>
      <div id='create-button'></div>
    </div>
    <div id='create-section'></div>
    <div id='cards'></div>
    <!-- <div id='create-button'></div> -->
    <!-- <audio controls id='win-audio'>
      <source src='assets/audio/win.mp3' type='audio/mpeg' />
    </audio> -->
    <script type='text/javascript' src='lib/jquery-2.1.0.js'></script>
    <script type='text/javascript' src='lib/underscore.js'></script>
    <script type='text/javascript' src='lib/backbone.js'></script>
    <script type='text/javascript' src='lib/backbone.chromeStorage.js'></script>
    <script src='app.js' type='text/javascript'></script>
  </body>
</html>